<section id="home" class="hero">
  <div class="backg">
    <app-background></app-background>
  <div class="container">
    <div class="content">
      <div class="content-main">
        <div class="content-text">
          <h1>Full Stack Web Developer</h1>
            <img class="waving-hand" src="/assets/images/waving.png" alt="waving_hand">
          <p>Hi, I'm Edrick Canzana. A passionate Full Stack Developer based in Quezon Province, Philippines. </p> 
          <div class="sidebar">
            <div class="sidebar-link">
                <a class="soc-med" href="https://github.com/EdCanzana12" target="_block" style="--color: #4267B2">
                    <i class="fa-brands fa-github"></i>
                </a>
                <div class="tooltip">Github</div>
            </div>
            <div class="sidebar-link">
                <a class="soc-med" href="https://www.linkedin.com/in/edrick-canzana-546173354/" target="_block" style="--color: #0072b1">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <div class="tooltip">LinkedIn</div>
            </div>
          </div> 
        </div>
        <div class="content-img"></div>
      </div>
      <div class="languages">
        <p>Tech Stack |</p>
        <div class="logos">
          <ul>
            <li>
              <img src="/assets/images/html-css.png">
            </li>
            <li>
              <img src="/assets/images/java-type.png">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>